<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.getbyte.getbyteprueba"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity android:name=".Activities.ADMIN_CAL_PROD.ListaCalidadActivity"></activity>
        <activity
            android:name=".Activities.ADMIN_CAL_PROD.ProduccionModulo"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Activities.ADMIN_CAL_PROD.CalidadModulo"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Activities.ADMIN_CAL_PROD.Eleccion_calProd"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Activities.EvaluacionEMainActivity"
            android:label="Evaluación"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.SegEvaluacion"
            android:label="Evaluación"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.TerceraEvaluacion"
            android:label="Evaluación"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.CuartaEvaluacion"
            android:label="Evaluación"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.QuintoEvaluacion"
            android:label="Evaluación"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.RadarActivity"
            android:label="Evaluación"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.MenuMainActivity"
            android:theme="@style/AppTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Activities.PDF.ViewPDFActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.BPM.MenuBPMActivity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Activities.BPM.RestauranteMenuActivity"
            android:label=""
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.BPM.Opciones.RestuOpcionActivity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Activities.BPM.InformacionEmpresaActivity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Activities.BPM.Opciones.HortalizaMainActivity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Activities.BPM.Opciones.TuberculosActivity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Activities.BPM.Opciones.HuevosActivity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Activities.BPM.Opciones.GranosActivity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Activities.BPM.Opciones.HarinasActivity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Activities.BPM.Opciones.FrutasActivity"
            android:theme="@style/AppTheme2" />
    </application>

</manifest>